body{
    min-height: 100vh;
    background: linear-gradient(to right, darkorchid,indigo,darkorchid);
}
img{
    width: 100%;
    max-width: 200px;
    display:inline-block ;
    vertical-align: top;
}
main > *{
    display:inline-block ;
    vertical-align: top;
}
main{
    text-align: center;
}
main div,main figcaption{
    text-align: left;
}
