body{
    min-height: 100vh;
    background: linear-gradient(to right, plum, lavenderblush,plum,lavenderblush);
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 200%;
    max-width: 400px;
    display:inline-block ;
    vertical-align: top;
}
main > *{
    display:inline-block ;
    vertical-align: top;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.75);
}
main{
    text-align: center;
}
main div,main figcaption{
    text-align: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: indigo ;
    color:white;
    border-radius: 8px;
}
nav a:hover{
    background-color:darkorchid;
}
p,h3,figcaption{
    max-width: 500px;
    display: table;
    margin: 10px auto; 
}
nav{
    background-color: purple;
}
h2{
text-align: center;
color: pink;
font-weight: 900;
}

